<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.cms_back.system.mapper.ArticleMediaRefMapper">

    <!-- 查询某篇文章引用的所有file_id  -->
    <select id="selectFileIdsByArticleId" resultType="long">
        SELECT file_id
        FROM article_media_refs
        WHERE article_id = #{articleId}
    </select>

    <!-- 查询fileIds中存在被已发布文章引用的file_id -->
    <select id="selectPublishedFileIds" resultType="long">
        SELECT DISTINCT r.file_id
        FROM article_media_refs r
        INNER JOIN articles a ON r.article_id = a.id
        WHERE a.publish_status = 'published'
            AND a.deleted_at IS NULL
            AND r.file_id IN
            <foreach collection="fileIds" item="fileId" open="(" separator="," close=")">
                #{fileId}
            </foreach>
    </select>


</mapper>