:root,
:host {
  --w-e-textarea-bg-color: #fff;
  --w-e-textarea-color: #333;
  --w-e-textarea-border-color: #ccc;
  --w-e-textarea-slight-border-color: #e8e8e8;
  --w-e-textarea-slight-color: #d4d4d4;
  --w-e-textarea-slight-bg-color: #f5f2f0;
  --w-e-textarea-selected-border-color: #b4d5ff;
  --w-e-textarea-handler-bg-color: #4290f7;
  --w-e-toolbar-color: #595959;
  --w-e-toolbar-bg-color: #fff;
  --w-e-toolbar-active-color: #333;
  --w-e-toolbar-active-bg-color: #f1f1f1;
  --w-e-toolbar-disabled-color: #999;
  --w-e-toolbar-border-color: #e8e8e8;
  --w-e-modal-button-bg-color: #fafafa;
  --w-e-modal-button-border-color: #d9d9d9;

  --base-font-color: #262626;
  --rich-text-content-color: #333;
  --rich-text-title-color: #222;
  --sidebar-group-color: #353535;
  --highlight-color: #1890ff;
  --hover-color: #e6f7ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.w-e-textarea-divider {
  border-radius: 3px;
  margin: 15px auto;
  padding: 0px;
}

.w-e-text-container [data-slate-editor] .w-e-selected-image-container .left-top {
  display: none;
  cursor: nwse-resize;
  left: 0;
  top: 0;
}

.w-e-text-container [data-slate-editor] .w-e-selected-image-container .right-top {
  display: none;
  cursor: nesw-resize;
  right: 0;
  top: 0;
}

.w-e-text-container [data-slate-editor] .w-e-selected-image-container .left-bottom {
  display: none;
  bottom: 0;
  cursor: nesw-resize;
  left: 0;
}

.w-e-text-container [data-slate-editor] .w-e-selected-image-container .right-bottom {
  display: none;
  bottom: 0;
  cursor: nwse-resize;
  right: 0;
}

.preview-style {
  color: var(--rich-text-content-color);

  ul,
  ol {
    list-style: revert;
  }

  hr {
    height: 1px !important;
    border: none !important;
    background-color: #e7e9e8;
  }

  p {
    margin-bottom: 0.5em;
  }

  h1,
  h2 {
    color: var(--rich-text-title-color);
  }

  h3,
  h4,
  h5,
  h6 {
    color: var(--rich-text-content-color);
  }
}